html {
	background: url(../images/background1.jpg);
	background-repeat:no-repeat;
    background-size:cover;
}

body {
	text-align: center;
	background-color: transparent;


}

img {
    width:300px;
    height: auto
}

#title {
	font-family: 'Bungee Inline', cursive;
}

h2 {
	font-family: 'Righteous', cursive;
}

div {
	background-color: black;
	font-family: 'Quattrocento', serif;
	color: white;
	font-weight: 700;
	font-size: 22px;
}

.jumbotron {
	background-color:transparent;
}